{{ define "main" }}

<h1>{{ .Title | title }}</h1>
<div class="content-container">
  <div>
    <p>
      Making a difference with art ❤️
    </p>
    <p>
      Working in close cooperation with the <a href="https://loan-stiftung.de/?lang=en">LO-ANH Foundation (LOAN Stiftung)</a> I created the illustration "DAWN" inspired by the coming Lunar New Year of the Tiger. <b>100% of the profit from this artwork, including all related products, will be donated to the foundation to support disadvantaged children from ethnic minorities in the most remote areas of Vietnam.</b>
    <p>
    <p>
      The work of the LO-ANH Foundation (LOAN Stiftung) includes the construction of kindergardens, elementary schools, boarding houses and scholarships for education as well as sponsorships for orphans in Vietnam's poorest regions, where almost no other NGOs are active because of the difficult geographical access. Every contribution goes directly and fully into the LO-ANH Foundation’s (LOAN Stiftung) projects for children in need.
    </p>
    <p>
      Inspired by the wonders of our planet my artworks reflect the colourful beauty of our world. While I hope that my creations bring people joy and happiness, I also wish them to make a lasting difference, however great or small it may be.
    </p>
    <p>
      "DAWN" will be exclusively available throughout the Lunar Year of the Tiger, with all funds being transferred to the LO-ANH Foundation (LOAN Stiftung) every quarter. You can find products with this artwork accross the different shop categories and see the entire collection <a href="{{ "shop/art-for-charity" | relLangURL }}">here</a>. Thank you so much for your support!
    </p>
    <p>
      If you have any questions about the charity cooperation, products and shop or anything else, don't hesitate to <a href="mailto:seraphinearts@gmail.com">send me an email</a> or contact me on socil media. I'm always happy to help. :)
    </p>
    <br>
    <p>
      <strong>Update February 2022:</strong> Thanks to your amazing support we were able to raise 340€ and make our first donation. ❤️
    </p>
  </div>
  <div class="images">
    {{ .Scratch.Set "width" "500"}}
    {{ .Scratch.Set "quality" "80"}}
    {{ .Scratch.Set "numPics" "3"}}
    {{- partial "attachedImage.html" . -}}
  </div>
</div>

{{ end }}