.single-page {
  a {
    color: $primaryColor;
    &:hover {
      color: $primaryColorHover;
    }
  }
  .button {
    color: white;
    &:hover {
      color: white;
    }
  }

  .single-page-content{
    padding: 0 1rem;
  }
  .single-page-image {
    display: flex;
    flex-wrap: wrap;
    img {
      padding: 0.5rem;
    }
  }
  .single-page-navigation{
    margin-top: 2rem;
  }
  .single-nav-link {
    display: inline;
    position: relative;
    padding: 2rem;
    font-size: 1.6rem;
    
    a > i > .tooltip {
      font-size: 1rem;
      visibility: hidden;
      position: absolute;
      top: 4rem; left:1rem;
      padding: 0.4rem 0.4rem;
      min-width: 8rem;
      color: $bgColor;
      background-color: rgba($fontColor, 0.5);
      font-family: $fontStack;
      border-radius: 10px;
    }

    a:hover > i > .tooltip {
      visibility: visible;
    }
  }

  @media screen and (min-width: $breakpoint-02) {
    .single-page-image {
      justify-content: center;
      img {
        max-width: 40rem;
      }
    }
    .single-page-description {
      margin: auto;
      max-width: 60rem;
    }
  }
}
