$description-width: 25rem;

.single-page {

  @media screen and (min-width: $breakpoint-02) {
    .single-page-content{
      display: flex;
      flex: 1;
      justify-content: center;
    }
    .description {
      width: $description-width;
      padding: 2rem 1rem;
    }
    .single-page-image{
      width: 40%
    }
  }

  .single-page-image {
    padding: 1rem;
  }
  .single-nav-link {
    display: inline;
    position: relative;
    padding: 2rem;
    font-size: 1.6rem;
    
    a > i > .tooltip {
      font-size: 1rem;
      visibility: hidden;
      position: absolute;
      top: 4rem; left:1rem;
      padding: 0.4rem 0.4rem;
      min-width: 8rem;
      color: $bgColor;
      background-color: rgba($fontColor, 0.5);
      font-family: $fontStack;
      border-radius: 10px;
    }

    a:hover > i > .tooltip {
      visibility: visible;
    }
  }
}
