#charity-page {
    padding: 0 1rem;
    a {
        color: $primaryColor;
        &:hover {
          color: $primaryColorHover;
        }
    }
    p {
        margin-bottom: 1rem;
        text-align: left;
    }
    .charity-gallery{
        padding: 4rem;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 0.25rem;
    }
    .charity-list-item {
        max-width: 20rem;
    }
    @media screen and (min-width: $breakpoint-02) {
        .images {
            margin-right: 2rem;
            min-width: 40%;
            }
        .content-container{
            display: flex;
            flex-direction: row-reverse;
            flex: 1;
            max-width: 100rem;
            margin: auto;
        }
    }
    .images {
      margin-right: 1rem;
    }
  }
  