#charity-page {
    padding: 0 5rem;
    a {
        color: $primaryColor;
        &:hover {
          color: $primaryColorHover;
        }
    }
    p {
        margin-bottom: 1rem;
        text-align: left;
    }
    @media screen and (min-width: $breakpoint-01) {
        .images {
            margin-right: 2rem;
            min-width: 40%;
            }
        .content-container{
            display: flex;
            flex-direction: row-reverse;
            flex: 1;
        }
    }
    .images {
      margin-right: 2rem;
    }
  }
  