{{ define "main" }}

<h1>{{ .Title | title }}</h1>

<div class="content-container">
  <div>
    {{ .Content }}
  </div>
  <div class="images">
    {{ .Scratch.Set "width" "800"}}
    {{ .Scratch.Set "quality" "100"}}
    {{ .Scratch.Set "numPics" "3"}}
    {{- partial "attachedImage.html" . -}}
  </div>
</div>

<div class="info-page-gallery">
  {{ range .Pages.ByPublishDate }}
  <div class="info-page-list-item">
    {{ .Scratch.Set "showDate" false}}
    {{partial "imageoverlay.html" .}}
  </div>
  {{ end }} 
</div>
{{ end }}